<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 2</title>
    <link rel="stylesheet" href="../css/2.css" />
  </head>
  <body>
    <nav></nav>
    <div class="container">
      <div class="bienvenida"></div>

      <div class="resumen">
        <div class="ventas"></div>
        <div class="compras"></div>
        <div class="clientes"></div>
        <div class="crecimiento"></div>
      </div>

      <div class="estadisticas">
        <div class="tarjeta"></div>
        <div id="derecha-estadisticas">
          <div class="porcentajes">
            <div class="tarjeta"></div>
            <div class="tarjeta"></div>
          </div>
          <div class="descargas">
            <div class="tarjeta"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="informacion">
        <div class="tickets"></div>
        <div class="actualizaciones"></div>
      </div>
    </div>
  </body>
</html>
